<div class='login-box'>
    <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
        <div id='mainpage'>
            <div class="login-box">
                <h1>Login</h1>
                <div class="textbox">
                    <input type="text" placeholder="Email" id="email" name="email" required ngModel>
                </div>
                <p id="p3"></p>
                <div class="textbox">
                    <input type="password" placeholder="Password" id="password" name="password" required ngModel>
                </div>
                <p id="p4"></p>                
                <button type="submit" id="submit">Sign in</button> &nbsp; <button id="submit"><a href="#" routerLink="register">Sign
                        up</a></button> &nbsp; <button id="submit" (click)="back()">Back to Home page</button>
            </div>
        </div>

    </form>

</div>


