<div class='gsonglist'>
  <p class="heading">Logged in as : Guest &nbsp;</p>
  <h1 class='guest'>Hello, Guest! </h1>

  <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
    <div id='mainpage'>
      <div class="login-box">
        <p id="head"></p>
        <div class="textbox">
          <input type="text" placeholder="Search Song" id="search" name="search" required ngModel> &nbsp; <button
            type="submit" id="submit">Search</button> &nbsp; <button id="submit" (click)="back()">Back to Home page</button>
        </div>

      </div>
    </div>

  </form>

  <br>

  <h1>Song List</h1> 

  <div class="songs">
    <thead class='head'>
      <tr>
        <th> Title </th>
        <th> Artist </th>
        <th> Rating </th>
        <th> Details </th>
      </tr>

    </thead>

    <tbody class='body'>
      <tr *ngFor="let song of songs">
        <td class="title">{{ song.Title }}</td>
        <td class="artist"> {{ song.Artist }}</td>
        <td class="Rating"> {{ song.Ratings }}</td>
        <td><a href="javascript:void(0)" id="{{song._id}}" class="submit" (click)="songdetfun($event)">View Details</a></td>
      </tr>

    </tbody>



  </div>

  <br>
  <br>
  <br>

  <div class="details" *ngIf="flag1">
    <thead class='head'>
      <tr>
        <th> Title </th>
        <th> Artist </th>
        <th> Album </th>
        <th> Duration </th>
        <th> Year </th>
        <th> Genre </th>
        <th> Rating </th>
        <th> Track </th>
        <th>Review</th>
      </tr>

    </thead>

    <tbody class='body'>
      <tr *ngFor="let detail of details">
        <td class="title">{{ detail.Title }}</td>
        <td class="artist"> {{ detail.Artist }}</td>
        <td class="album"> {{ detail.Album }}</td>
        <td class="duration"> {{ detail.Duration }}</td>
        <td class="Year"> {{ detail.Year }}</td>
        <td class="Genre">{{ detail.Genre }}</td>
        <td class="Rating"> {{ detail.Ratings }}</td>
        <td class="Track"> {{ detail.Track }}</td>
        <td><a href="javascript:void(0)" id="{{detail._id}}" class="submit" (click)="songreview($event)">View Review</a></td>
      </tr>

    </tbody>

  </div>

  <br>
  <br>
  <br>

  <div>
    <div class="reviews" *ngIf="flag2">
      <thead class='head'>
        <tr>
          <th> Song </th>
          <th> Review </th>
          <th> Review By </th>
          <th> Rating </th>
        </tr>

      </thead>

      <tbody class='body'>
        <tr *ngFor="let review of reviews">
          <td class="song">{{ review.song }}</td>
          <td class="review"> {{ review.review }}</td>
          <td class="reviewby"> {{ review.reviewby }}</td>
          <td class="Rating"> {{ review.rating }}</td>
        </tr>

      </tbody>

    </div>
</div>


  <br>
  <br>

 