<h1>Song List</h1>

<div class="songs">
  <thead class='head'>
    <tr>
      <th> Title </th>
      <th> Artist </th>
      <!-- <th> Album </th>
      <th> Duration </th>
      <th> Year </th>
      <th> Genre </th>
      <th> Comment </th>
      <th> Hidden </th>
      <th> Picture </th> -->
      <th> Rating </th>
      <th> Details </th>
    </tr>

  </thead>

  <tbody class='body'>
    <tr *ngFor="let song of songs">
      <td class="title">{{ song.Title }}</td>
      <td class="artist"> {{ song.Artist }}</td>
      <!-- <td class="album"> {{ song.Album }}</td>
      <td class="duration"> {{ song.Duration }}</td>
      <td class="Year"> {{ song.Year }}</td>
      <td class="Genre">{{ song.Genre }}</td> -->
      <!-- <td class="Comment">{{ song.Comment }}</td>
      <td class="Hidden"> {{ song.Hidden }}</td>
      <td class="Picture"> {{ song.Picture }}</td> -->
      <td class="Rating"> {{ song.Ratings }}</td>
      <!-- <td><a href="#" routerLink="review">See Review</a></td> -->
      <td><a href="javascript:void(0)" id="{{song._id}}" (click)="songdetfun($event)">See Details</a></td>
      <!-- <td><button>See Review</button></td> -->
    </tr>

  </tbody>



</div>