<form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
    <div id='mainpage'>
        <div class="login-box">
            <h1>Add song</h1>
            <p id="head"></p>
            <div class="textbox">
                <input type="text" placeholder="title" id="title" name="title" required ngModel>
            </div>
            <p id="p1"></p>
            <p id="p2"></p>
            <div class="textbox">
                <input type="text" placeholder="artist" id="artist" name="artist" required ngModel>
            </div>
            <p id="p3"></p>
            <div class="textbox">
                <input type="text" placeholder="album" id="album" name="album" required ngModel>
            </div>
            <p id="p4"></p>
            <div class="textbox">
                <input type="text" placeholder="year" id="year" name="year" required ngModel>
            </div>
            <p id="p5"></p>
            <div class="textbox">
                <input type="text" placeholder="genre" id="genre" name="genre" required ngModel>
            </div>
            <p id="p6"></p>
            <div class="textbox">
                <input type="text" placeholder="track" id="track" name="track" required ngModel>
            </div>
            <p id="p7"></p>
            <div class="textbox">
                <input type="text" placeholder="song" id="song" name="song" required ngModel>
            </div>
            <p id="p8"></p>
            <div class="textbox">
                <input type="text" placeholder="review" id="review" name="review" required ngModel>
            </div>
            <p id="p9"></p>
            <div class="textbox">
                <input type="text" placeholder="reviewby" id="reviewby" name="reviewby" required ngModel>
            </div>
            <p id="p10"></p>
            <div class="textbox">
                <input type="text" placeholder="rating" id="rating" name="rating" required ngModel>
            </div>
            <p id="p11"></p>
            <!-- <input id="submit" type="submit" value="Sign in" onclick="return formValidation()" /> -->
            <button type="submit" id="sub">Add Song</button> &nbsp; <button id="back" (click)="back()">Back to prev page</button>
        </div>
    </div>
    
</form>
