<form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
    <div id='mainpage'>
        <div class="login-box">
            <h1>Add song</h1>
            <p id="head"></p>
            <div class="textbox">
                <input type="text" placeholder="title" id="title" name="title" required ngModel>
            </div>
            <p id="p1"></p>
            <p id="p2"></p>
            <div class="textbox">
                <input type="text" placeholder="artist" id="artist" name="artist" required ngModel>
            </div>
            <p id="p3"></p>
            <div class="textbox">
                <input type="text" placeholder="album" id="album" name="album" required ngModel>
            </div>
            <p id="p4"></p>
            <div class="textbox">
                <input type="text" placeholder="year" id="year" name="year" required ngModel>
            </div>
            <p id="p5"></p>
            <div class="textbox">
                <input type="text" placeholder="genre" id="genre" name="genre" required ngModel>
            </div>
            <p id="p6"></p>
            <!-- <input id="submit" type="submit" value="Sign in" onclick="return formValidation()" /> -->
            <button type="submit" id="sub">Add Song</button>
        </div>
    </div>
    
</form>
