<p class="heading">Logged in as : Site Manager &nbsp;</p>
<h1>Song Details</h1>
<div class="songs">
    <thead class='head'>
        <tr>
            <th> Title </th>
            <th> Artist </th>
            <th> Album </th>
            <th> Duration </th>
            <th> Year </th>
            <th> Genre </th>
            <th> Rating </th>
            <th> Hidden </th>
            <th> Delete </th>


        </tr>

    </thead>

    <tbody class='body'>
        <tr *ngFor="let song of songs">
            <td class="title">{{ song.Title }}</td>
            <td class="artist"> {{ song.Artist }}</td>
            <td class="album"> {{ song.Album }}</td>
            <td class="duration"> {{ song.Duration }}</td>
            <td class="Year"> {{ song.Year }}</td>
            <td class="Genre">{{ song.Genre }}</td>
            <td class="Rating"> {{ song.Ratings }}</td>
            <td><input type="checkbox" id="{{ song._id}}" (change)="toggleSong($event)" [(ngModel)]="song.Hidden" />
            <td><a href="javascript:void(0)" id="{{song._id}}" class="submit" (click)="songdelfun($event)">Delete</a>
            </td>
        </tr>

    </tbody>

    <br>
    <br>
    <br>

    <h1>User Details</h1>

    <div class="users">
        <thead class='head'>
            <tr>
                <th> Name </th>
                <th> Email </th>
                <th> Type </th>
                <th> Active </th>
                <th> Site Manager </th>


            </tr>

        </thead>

        <tbody class='body'>
            <tr *ngFor="let user of users">
                <td class="username">{{ user.username}}</td>
                <td class="email"> {{ user.email }}</td>
                <td class="usertype"> {{ user.usertype }}</td>
                <td><input type="checkbox" id="{{ user._id}}" (change)="toggleUser($event)" [(ngModel)]="user.active" />
                </td>
                <td><input type="checkbox" id="{{ user._id}}" (change)="toggleSM($event)" [(ngModel)]="user.SM" />
                </td>
            </tr>

        </tbody>

        <br>
        <br>
        <br>

        <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
            <div id='mainpage'>
                <div class="login-box">
                    <h1>Add song</h1>
                    <p id="head"></p>
                    <div class="textbox">
                        <input type="text" placeholder="title" id="title" name="title" required ngModel>
                    </div>
                    <p id="p1"></p>
                    <p id="p2"></p>
                    <div class="textbox">
                        <input type="text" placeholder="artist" id="artist" name="artist" required ngModel>
                    </div>
                    <p id="p3"></p>
                    <div class="textbox">
                        <input type="text" placeholder="album" id="album" name="album" required ngModel>
                    </div>
                    <p id="p4"></p>
                    <div class="textbox">
                        <input type="text" placeholder="year" id="year" name="year" required ngModel>
                    </div>
                    <p id="p5"></p>
                    <div class="textbox">
                        <input type="text" placeholder="genre" id="genre" name="genre" required ngModel>
                    </div>
                    <p id="p6"></p>
                    <div class="textbox">
                        <input type="text" placeholder="track" id="track" name="track" required ngModel>
                    </div>
                    <p id="p7"></p>
                    <button type="submit" id="submit">Add Song</button> &nbsp; <button id="submit" (click)="back()">Log
                        Out</button>
                </div>
            </div>

        </form>
        <br>
        <br>
        <br>