<h1>Song Details</h1>

<div class="songs">
    <thead class='head'>
        <tr>
            <th> Title </th>
            <th> Artist </th>
            <th> Album </th>
            <th> Duration </th>
            <th> Year </th>
            <th> Genre </th>
            <!-- <th> Comment </th>
      <th> Hidden </th>
      <th> Picture </th> -->
            <th> Rating </th>
            <th> Hidden </th>

        </tr>

    </thead>

    <tbody class='body'>
        <tr *ngFor="let song of songs">
            <td class="title">{{ song.Title }}</td>
            <td class="artist"> {{ song.Artist }}</td>
            <td class="album"> {{ song.Album }}</td>
            <td class="duration"> {{ song.Duration }}</td>
            <td class="Year"> {{ song.Year }}</td>
            <td class="Genre">{{ song.Genre }}</td>
            <!-- <td class="Comment">{{ song.Comment }}</td>
      <td class="Hidden"> {{ song.Hidden }}</td>
      <td class="Picture"> {{ song.Picture }}</td> -->
            <td class="Rating"> {{ song.Ratings }}</td>
            <td><input type="checkbox" id="{{ song._id}}" (change)="toggleSong($event)" [(ngModel)]="song.Hidden" />
            <!-- </td> -->


            <!-- <td><a href="#" routerLink="review">See Review</a></td> -->
            <!-- <td><a href="javascript:void(0)" id="{{song._id}}" (click)="songdetfun($event)">See Details</a></td> -->
            <!-- <td><button>See Review</button></td> -->
        </tr>

    </tbody>

    <br>
    <br>
    <br>

    <h1>User Details</h1>

    <div class="users">
        <thead class='head'>
            <tr>
                <th> Name </th>
                <th> Email </th>
                <th> Type </th>
                <th> Active </th>
                <th> Site Manager </th>


            </tr>

        </thead>

        <tbody class='body'>
            <tr *ngFor="let user of users">
                <td class="username">{{ user.username}}</td>
                <td class="email"> {{ user.email }}</td>
                <td class="usertype"> {{ user.usertype }}</td>
                <td><input type="checkbox" id="{{ user._id}}" (change)="toggleUser($event)" [(ngModel)]="user.active" />
                </td>
                <td><input type="checkbox" id="{{ user._id}}" (change)="toggleSM($event)" [(ngModel)]="user.SM" />
                </td>
                <!-- <td><a href="#" routerLink="review">See Review</a></td> -->
                <!-- <td><a href="javascript:void(0)" id="{{song._id}}" (click)="songdetfun($event)">See Details</a></td> -->
                <!-- <td><button>See Review</button></td> -->
            </tr>

        </tbody>