<h1>Song List</h1>

<ul class="songs">
  <li *ngFor="let song of songs">
    <p class="title">Title: {{ song.Title }}</p>
    <p class="artist">Artist: {{ song.Artist }}</p>
    <p class="album">Album: {{ song.Album }}</p>
    <p class="duration">Duration: {{ song.Duration }}</p>
    <p class="Year">Year: {{ song.Year }}</p>
    <p class="Genre">Genre: {{ song.Genre }}</p>
    <p class="Comment">Comment: {{ song.Comment }}</p>
    <p class="Hidden">Hidden: {{ song.Hidden }}</p>
    <p class="Picture">Picture: {{ song.Picture }}</p>
    <p class="Rating">Rating: {{ song.Ratings }}</p>
  </li>
</ul>
